$bg-color: #fcebcf;
$nav-color: #ce9f51;
$serif-font-head: "Cantata One", serif;
$serif-font-sub: "Alatsi", serif;
$sans-serif-font: "Zen Maru Gothic", sans-bserif;
$font-color: #546121;

$slider-breakpoint: 600px;
$slider-width: 500px;
$slider-width-mobile: 300px;

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: $sans-serif-font;
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
}

a {
    color: $font-color;
}

.hidden {
    display: none;
}

.main-container {
    margin: auto;
    width: 80%;

    h2 {
        font-size: 2em;
    }
}

.subpage-title {
    font-family: $serif-font-head;
    font-size: 3em;

    @media all and (min-width: 800px) {
        font-size: 5em;
    }
}

.title-container {
    display: flex;
    flex-flow: row wrap;

    margin: 0 2em;
    width: 80%;

    * {
        flex: 1 100%;
        padding: 20px;
    }
}

.title-block {

    h1 {
        font-family: $serif-font-head;
        font-size: 2em;
        margin: 0;
    }

    h2 {
        font-family: $serif-font-sub;
        font-size: 1em;
        margin: 0;
    }
}

.float-right {
    float: right;
    margin-left: 50px;
    @media all and (max-width: 400px) {
        margin-left: 0;
    }
}

@media all and (max-width: 400px) {
    .float-left {
        float: right;
        margin-right: -20px;
    }
}

@media all and (min-width: 400px) {
    .float-left {
        float: left;
        margin-right: 50px;
    }
}

#train {
    display: block;
    width: 30%;
    border-radius: 10px;
    // this is a bit of a hack to get around floated elements not
    // being in the normal document flow -- trying to avoid the
    // picture being right at the bottom of the page since it's the
    // last one
    margin-bottom: 30px;
}

#east-a {
    display: block;
    width: 30%;
    border-radius: 10px;
}

#durango {
    display: block;
    width: 40%;
    border-radius: 10px;
}

.title-image {
    img {
        display: inline;
        border-radius: 30px;
        width: 100%;
    }
}

@media all and (min-width: 800px) {
    .title-block {
        flex: 2 0 0;

        h1 {
            font-size: 5em;
        }

        h2 {
            font-size: 3em;
        }
    }
}

@media all and (min-width: 1280px) {
    .title-container > * {
        flex: 1 0 0;
    }

    .title-block {
        flex: 2 0 0;

        h1 {
            font-size: 6em;
        }

        h2 {
            font-size: 2em;
        }
    }
}

.nav-bar {
    background-color: $nav-color;
    padding: 0 2em;
    padding-left: 0;
    position: relative;

    @media all and (max-width: 900px) {
        width: 100%;
    }
}

.nav-links {
    list-style: none;
    padding-left: 0;
    margin: 0;

    @media all and (max-width: 900px) {
        text-align: center;
    }

    li {
        padding: 0;
        display: inline-block;

        a {
            display: block;
            text-decoration: none;
            font-size: 2em;
            @media all and (min-width: 900px) {
                padding: .5em 1em;
            }

            @media all and (max-width: 900px) {
                padding: 1em;
                padding-top: 1em;
                font-size: .75em;
            }
        }
        
        &:hover {
            -moz-transition: background-color .2s ease-out;
            -o-transition: background-color .2s ease-out;
            -webkit-transition: background-color .2s ease-out;
            transition: background-color .2s ease-out;
            background-color: #bc6f40;
        } /* CSS is a fucking joke */
        -moz-transition: background-color .2s ease-out;
        -o-transition: background-color .2s ease-out;
        -webkit-transition: background-color .2s ease-out;
        transition: background-color .2s ease-out;
        background-color: $nav-color;
    }
}

.things-to-do, .deets {
    padding: 0;
    text-align: center;

    li {
        margin: .5em 0;
        h3 {
            font-size: 1.5em;
            margin: 0;
        }
        text-align: left;
        font-size: 1.5em;
        list-style-image: url('../../imgs/columbine.png');
    }
}

// CSS-only slider stolen from https://css-tricks.com/css-only-carousel/

.slider {
    @media all and (min-width: $slider-breakpoint) {
        width: $slider-width;
    }
    @media all and (min-width: $slider-breakpoint + 200px) {
        float: right;
        margin-left: 50px;
    }
    @media all and (max-width: $slider-breakpoint) {
        width: $slider-width-mobile;
    }
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    @media all and (min-width: $slider-breakpoint) {
        scroll-snap-points-x: repeat($slider-width);
    }
    @media all and (max-width: $slider-breakpoint) {
        scroll-snap-points-x: repeat($slider-width-mobile);
    }
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    @media all and (min-width: $slider-breakpoint) {
        width: $slider-width;
        height: $slider-width;
    }
    @media all and (max-width: $slider-breakpoint) {
        width: $slider-width-mobile;
        height: $slider-width-mobile;
    }
    margin-right: 10px;
    &:last-of-type {
        margin-right: 0;
    }
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.slides > div:target {
    /*   transform: scale(0.8); */
}

.slider img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.slider > a {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    font-size: .7rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $font-color;
    margin: 0 0 0.5rem 0;
    position: relative;
}

.slider > a:active {
    top: 1px;
}

.slider > a:focus {
    background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
    .slider > a {
        display: none;
    }
}

#slider-buttons {
    margin-top: 10px;

    button {
        content: "";
        background-size: 100% 100%;
        display: inline-block;
        height: 25px;
        width:25px;
        border: none;
        background-color: $bg-color;
        position: relative;
        padding: 10px;
    }
}

#slider-back {
    background-image:url('../../imgs/left-arrow.png');
    @media all and (min-width: $slider-breakpoint) {
        right: $slider-width/2 - 50px;
    }
    @media all and (max-width: $slider-breakpoint) {
        right: $slider-width-mobile/2 - 50px;
    }
}

#slider-forward {
    background-image:url('../../imgs/right-arrow.png');
    @media all and (min-width: $slider-breakpoint) {
        left: $slider-width/2 - 50px;
    }
    @media all and (max-width: $slider-breakpoint) {
        left: $slider-width-mobile/2 - 50px;
    }

}
