$bg-color: #fcebcf;
$nav-color: #ce9f51;
$serif-font-head: "Cantata One", serif;
$serif-font-sub: "Alatsi", serif;
$sans-serif-font: "Zen Maru Gothic", sans-bserif;
$font-color: #546121;

$slider-breakpoint: 600px;
$slider-width: 500px;
$slider-width-mobile: 300px;

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: $sans-serif-font;
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
}

a {
    color: $font-color;
}

.title-container {
    display: flex;
    flex-flow: row wrap;

    margin: 0 2em;
    width: 80%;

    * {
        flex: 1 100%;
        padding: 20px;
    }
}

.title-block {

    h1 {
        font-family: $serif-font-head;
        font-size: 2em;
        margin: 0;
    }

    h2 {
        font-family: $serif-font-sub;
        font-size: 1em;
        margin: 0;
    }
}

.title-image {
    img {
        display: inline;
        border-radius: 30px;
        width: 100%;
    }
}

@media all and (min-width: 800px) {
    .title-block {
        flex: 2 0 0;

        h1 {
            font-size: 5em;
        }

        h2 {
            font-size: 3em;
        }
    }
}

@media all and (min-width: 1280px) {
    .title-container > * {
        flex: 1 0 0;
    }

    .title-block {
        flex: 2 0 0;

        h1 {
            font-size: 6em;
        }

        h2 {
            font-size: 2em;
        }
    }
}

.top-bar {
    background-color: $nav-color;
    position: relative;
    min-height: 50px;

    @media all and (max-width: 900px) {
        width: 100%;
    }
}
