<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="./css/build/style.css">
    <link href="https://fonts.bunny.net/css?family=cantata-one:400|zen-maru-gothic:400|alatsi:400" rel="stylesheet" />
    <title>Celeste and Peter</title>
  </head>

  <body>
    <div class="nav-bar">
      <ul class="nav-links">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./durango.html">Durango</a></li>
        <li><a href="./details.html">Details</a></li>
      </ul>
    </div>

    <div class="title-container">
      <div class="title-block">
        <h1>Oh, no!</h1>
        <p>I don't know what you're looking for, but it's not this page. <a href="index.html">Go home.</a></p>
      </div>
    </div>
  </body>
</html>
