<!DOCTYPE html>
<html>
  {% include 'head.html' %}

  <body>
    {% include 'nav_bar.html' %}

    <div class="main-container">
      <h1 class="subpage-title">The plan</h1>

      <div class="slider">
        <div class="slides" id="slides">
          <div><img src="{{ url_for('static', filename='./imgs/slides/wedding-shock.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/hood.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/couch.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/heady.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/holcomb.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/jeep.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/jersey.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/mimosa.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/peter-muir.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/south-sister.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/watermelon.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/celeste-muir.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/wolfy.jpg') }}"></div>
          <div><img src="{{ url_for('static', filename='./imgs/slides/wedding-bea') }}uty.jpg">
          </div>
        </div>

        <div class="hidden" id="slider-buttons">
          <button id="slider-back"></button>
          <button id="slider-forward"></button>
        </div>
      </div>

      <ul class="deets">
        <li>
          <h3>Where is it?</h3>

          We'll be at the Ridgewood Event Center in Hesperus, about a
          half hour's drive from Durango.
        </li>

        <li>
          <h3>Where should we stay?</h3>

          <p>We've got a few options. You can stay at
            <a href="https://bit.ly/durangowed" target="_blank" rel="noopener">the Doubletree</a>, which is
            right off the river trail in downtown Durango. That link
            will take you to their site, where you can book one of our
            block of rooms. Another option is
            the <a href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=DROCOHX&arrivalDate=2023-04-07&departureDate=2023-04-08&room1NumAdults=2&inputModule=HOTEL_SEARCH&viewPackagesAndPromotionsRate=true&WT.mc_id=zLADA0WW1XX2OLX3DA4MS5MS6_DROCOHX7_298227037_&adType=FL&dsclid=51469965767507968&dclid=CKeC9_3pmP0CFb3C9gIdbggHjg&hmGUID=4dbd56ba-372a-4603-a5e3-47eb6d9755f1" target="_blank" rel="noopener">Hampton
              Inn</a> -- just make sure to specify that you're part of the
            "Haverkamp-Fogg Wedding" block of rooms when you book.
          </p>

          <p>
            There are also plenty of good Airbnb/VRBO options around
            Durango, if that's your preference!
          </p>

          <p>
            And for those who are a little more adventurous, there are
            great campgrounds
            up <a href="https://goo.gl/maps/unU6wXksSMuWgMs36">La
            Plata Canyon</a> run by the Forest Service.
          </p>
        </li>

        <li>
          <h3>How do we get there?</h3>

          We plan on running a bus there and back from downtown
          Durango &mdash; please fill out
          our <a target="_blank" rel="noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSc4WzASpmNU1bsf-zf4vvynGwL-WICoBUTV72xiCFk8YL2ncA/viewform?usp=pp_url">survey</a>
          to let us know whether or not you're planning on riding the
          bus! It will pick up and drop off at
          the <a target="_blank" rel="noopener" href="https://goo.gl/maps/FNz3jhPLrJN4tb6U8">Durango
          Transit Center</a>, and there's ample (free) parking there
          as well.
        </li>

        <li>
          <h3>What time is it?</h3>

          We'll start at 4 o'clock, but you should plan on arriving a
          little early to take a stroll around the venue and take in
          the incredible views of the La Platas. Dinner will be around
          6, and we'll wrap up by 10.
        </li>

        <li>
          <h3>Dress code?</h3>

          Wear your get up to get down. In other words, let's dance!
          We'll be outside on soft ground, so wear comfortable shoes.
        </li>

        <li>
          <h3>Can our kids come?</h3>

          We will give them a balloon and unlimited Shirley Temples
          (seriously).
        </li>
    </div>
  </body>
</html>
