<!DOCTYPE html>
<html>
  {% include 'head.html' %}

  <body>
    {% include 'nav_bar.html' %}
    <div class="title-container">
      <div class="title-block">
        <h1>Celeste and Peter are getting married.</h1>
        <h2>June 10th. 2023. The Ridgewood Event Center, Hesperus, CO.</h2>
        <h2>We'd love for you to come.</h2>
      </div>
      <div class="title-image">
        <img src="{{ url_for('static', filename='imgs/IMG_5412.jpg') }}" >
      </div>
    </div>
    <div class="main-container">
      <h1 class="subpage-title">Schedule</h1>
      <ul class="deets">
        <img class="float-right" id="eleventh" src="{{ url_for('static', filename='./imgs/11th.jpg') }}">
        <li>
          <h3>Friday June 9th, 8:00 PM:</h3>
          <p>
            We meet at <a target="_blank" rel="noopener" href="https://goo.gl/maps/VEK1nT8WB4mtSXDr8">11th Street Station</a> in downtown Durango for a drink to kick things off!
              </p>
        </li>
        <li>
          <h3>Saturday June 10th, 3:30 PM:</h3>
          <p>
            Head out to the <a target="_blank" rel="noopener" href="https://goo.gl/maps/tACB4F2oV2PaKukb6">Ridgewood Event Center</a>. The bus will leave the <a target="_blank" rel="noopener" href="https://goo.gl/maps/gmVj7AotHSTeUTzA9">Durango Transit Center</a> at 3:30, if you're riding!
          </p>
        </li>
        <li>
          <h3>Saturday June 10th, 4:30 PM:</h3>
          <p>
            Enjoy the beauty of a June day in Southwest Colorado while
            we tie the knot, then get ready to party!
          </p>
          <li>
            <h3>Saturday June 10th, 10:00 PM:</h3>
            <p>
              All good parties must end eventually. We head on home,
              bus riders get dropped back in Durango, and Piñon (the
              cat) gets her dinner.
            </p>
      </ul>
    </div>
  </body>
</html>
