<!DOCTYPE html>
<html>
  {% include 'head.html' %}

  <body>
    {% include 'nav_bar.html' %}

    <form method="POST" name="rsvp">
      <label for="name">Your name:</label>
      {% if similar_names | length == 1: %}
      <input type="text" id="name" name="name" value="{{ similar_names[0].name }}" readonly />
      {% elif similar_names | length == 0: %}
      <input type="text" id="name" name="name" />
      {% else: %}
      <select id="name" name="name" value="{{ similar_names[0] }}">
        {% for guest in similar_names: %}
        <option value="{{ guest.name }}">{{ guest.name }}</option>
        {% endfor %}
      </select>
      {% endif %}
      <br />

      <label for="coming">Will you be able to make it?</label>
      <input type="checkbox" id="coming" name="coming" />
      <br />

      <label for="guests">How many guests are you RSVPing for?</label>
      <input type="number" id="guests" name="guests" min="0" value="0" required />
      <br />

      <!-- TODO: figure out bus count and update accordingly -->
      <label for="bus">How many people plan on riding the bus? We have 45 total spots available.</label>
      <input type="number" id="bus" name="bus" min="0" value="0" required />
      <br />

      <label for="diet">Any dietary restrictions we should know about?</label>
      <input type="text" id="diet" name="diet" value="" />
      <br />

      <input type="submit" value="RSVP!" />
    </form>
  </body>
</html>
