<!DOCTYPE html>
<html>
  {% include 'head.html' %}

  <body>
    {% include 'nav_bar.html' %}

    <div class="rsvp-form">
      <h1 class="subpage-title">OK, let's get some details.</h1>
      <form method="POST" name="rsvp">
        <div class="rsvp-section">
          {% if guest: %}
          <label for="name">Your name</label>
          <input type="text" id="name" name="name" value="{{ guest.name }}" readonly />
          <input type="text" name="guest-id" value="{{ guest.id }}" class="hidden" />
          {% else %}
          <label for="name">
            I'm not recognizing your name -- maybe try again with the
            name that was on your invitation? If that doesn't work,
            just enter your name here!
          </label>
          <input type="text" id="name" name="name" placeholder="Piñon the Cat" />
          {% endif %}
        </div>

        <div class="rsvp-section">
          <label for="coming" class="radio">
            I'll be there!
            <input type="radio" id="coming" value="coming" name="coming" />
          </label>
          <label for="not-coming" class="radio">
            I can't make it!
            <input type="radio" id="not-coming" value="not-coming" name="coming" />
          </label>
        </div>

        {% if guest.has_plus_one: %}
        <div class="rsvp-section">
          <label for="plus-one">Are you bringing a plus one?</label>
          <input type="checkbox" id="plus-one" name="plus-one" />
        </div>
        {% endif %}

        {% if bus_num > 0: %}
        <div class="rsvp-section">
          <label for="bus">Check here if you'd like to ride the bus! We've got {{ bus_num }} spots left.</label>
          <input type="checkbox" id="bus" name="bus" />
        </div>
        {% endif %}


        <div class="rsvp-section">
          <label for="diet">Any dietary restrictions we should know about?</label>
          <input
            type="text"
            id="diet"
            name="diet"
            value=""
            placeholder="Gluten,dairy, meat..."
            />
          <br />
        </div>

        <div class="rsvp-section">
          <input type="submit" value="RSVP!" />
        </div>
      </form>
    </div>
  </body>
</html>
