<!DOCTYPE html>
<html>
  {% include 'head.html' %}

  <body>
    {% include 'nav_bar.html' %}

    <div class="title-container">
      <div class="title-block">
        <h2>Thanks! We can't wait to see you!</h2>
        <p>Just take a look to be sure this is correct:</p>
        <p>
          {{ info['name']|e }} is coming, and is
          {% if info['bus'] != 'on': %} not {% endif %}riding the
          bus. Dietary restrictions are: {% if info['diet']: %}{{ info['diet']|e }}{% else %} none {% endif %}.
        </p>
        {% if guest.has_rehearsal_invite: %}
        <p>
          We'll be doing a rehearsal dinner at 11th Street Station in
          Durango on Friday night (June 9th) -- we'd love to see you there!
        </p>
        {% endif %}
        <p>
        <p>
          If you'd like to RSVP for someone else, please head back to
          the <a href="{{ url_for('rsvp') }}">RSVP page</a>!
        </p>
        <p>If any of the above looks wrong, please let us know! You can email me at <a href="mailto:peter.p.fogg@gmail.com">peter.p.fogg@gmail.com</a>.</p>
      </div>
    </div>
  </body>
</html>
